<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.shopify.com/s/assets/external/app.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
    <title>Simple-Upsells Installation</title>
  </head>
  <body>
    <div class="container" style="margin-top:40px">
      <div class="row">
        <div class="col-sm-6 col-md-5 col-md-offset-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <strong>Simple-Upsells: Please Register Your Shop</strong>
            </div>
            <div class="panel-body">
              <form method="GET" action="/shopify_auth" role="form">
                <fieldset>
                  <div class="row">
                    <div class="center-block"><img alt="" class="profile-img" src="/images/logo.png"></div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 col-md-12">
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-shopping-cart"></i></span><input id="textinput" class="form-control input-md" type="text" placeholder="Enter Shopname" name="shop"><span class="input-group-addon">.myshopify.com</span>
                        </div>
                      </div>
                      <div class="form-group">
                        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Submit">
                      </div>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
            <div class="panel-footer">
              <a href="https://github.com/arjunkomath">About</a> · BrownHatInc.
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <style>
    .panel-heading {
        padding: 5px 15px;
    }

    .panel-footer {
      padding: 1px 15px;
      color: #A0A0A0;
    }

    .profile-img {
      width: 96px;
      height: 96px;
      margin: 0 auto 10px;
      display: block;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
    }
    #textinput {
      width: 
    }
  </style>
</html>
