<!DOCTYPE html>
<html>
<head>
  <script src="https://cdn.shopify.com/s/assets/external/app.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
	<link rel='stylesheet' href='/stylesheets/foundation.min.css' />
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<title><%= title %></title>
</head>
<body>
	<div class="row">
		<div class="large-12 columns">
			<h1><%= title %></h1>
      <div class="col-md-12 bg-primary h4">
        <div class="control-group">
          <div class="controls">
            <p class="control-label" for="setup-steps">Get started with Simple-Upsells</p>
          </div>
        </div>
      </div>
      <div class="panel panel-success">
        <div class="panel-body">
        </div>
      </div>
		</div>
	</div>
</body>
</html>
