<!DOCTYPE html>
<html>
<head>
  <script src="https://cdn.shopify.com/s/assets/external/app.js"></script>
  <script language="JavaScript" src="https://code.jquery.com/jquery-1.11.1.min.js" type="text/javascript"></script>
  <link href='/stylesheets/bootstrap.min.css' rel='stylesheet'>
  <script type="text/javascript">
    ShopifyApp.init({
        apiKey: '<%= api_key %>',
        shopOrigin: 'https://<%= shop %>.myshopify.com'
    });
  </script>
  <title><%= title %></title>
</head>
<body>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
        //<link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css' />
        //http://bootsnipp.com/snippets/KGmRQ
        /*            <div class="post-img-content">
              <img alt="a" class="img-responsive" src="http://placehold.it/350x260"> <span class="post-title"><b>Perfumes</b><br>
              <b>Clássico</b></span> <span class="round-tag">-15%</span>
            </div>
            */
      $('#btn-id1').click(function(event) {
        if ($('#c1').is(':checked')) {
          $('#c1').prop('checked', false);
          $('#item1').css('box-shadow', '0px 0px 2px 2px rgba(255, 255, 255, 1)');
          $('#item1').css('border-color', 'transparent');
          $('#item1').css('border-radius', '10px');
          $('#item1').css('background', '#FFF');
        }
        else {
          $('#c1').prop('checked', true);
          $('#item1').css('box-shadow', '0px 0px 2px 2px rgba(255,162,0,1)');
          $('#item1').css('border-color', 'transparent');
          $('#item1').css('border-radius', '10px');
          $('#item1').css('background', '#FFF');
        }  
      });
      $('#btn-id2').click(function(event) {
        if ($('#c2').is(':checked')) {
          $('#c2').prop('checked', false);
          $('#item2').css('box-shadow', '0px 0px 2px 2px rgba(255, 255, 255, 1)');
          $('#item2').css('border-color', 'transparent');
          $('#item2').css('border-radius', '10px');
          $('#item2').css('background', '#FFF');
        }
        else {
          $('#c2').prop('checked', true);
          $('#item2').css('box-shadow', '0px 0px 2px 2px rgba(255,162,0,1)');
          $('#item2').css('border-color', 'transparent');
          $('#item2').css('border-radius', '10px');
          $('#item2').css('background', '#FFF');
        }  
      });
      $('#btn-id3').click(function(event) {
        if ($('#c3').is(':checked')) {
          $('#c3').prop('checked', false);
          $('#item3').css('box-shadow', '0px 0px 2px 2px rgba(255, 255, 255, 1)');
          $('#item3').css('border-color', 'transparent');
          $('#item3').css('border-radius', '10px');
          $('#item3').css('background', '#FFF');
        }
        else {
          $('#c3').prop('checked', true);
          $('#item3').css('box-shadow', '0px 0px 2px 2px rgba(255,162,0,1)');
          $('#item3').css('border-color', 'transparent');
          $('#item3').css('border-radius', '10px');
          $('#item3').css('background', '#FFF');
        }  
      });
      $('#btn-id4').click(function(event) {
        if ($('#c4').is(':checked')) {
          $('#c4').prop('checked', false);
          $('#item4').css('box-shadow', '0px 0px 2px 2px rgba(255, 255, 255, 1)');
          $('#item4').css('border-color', 'transparent');
          $('#item4').css('border-radius', '10px');
          $('#item4').css('background', '#FFF');
        }
        else {
          $('#c4').prop('checked', true);
          $('#item4').css('box-shadow', '0px 0px 2px 2px rgba(255,162,0,1)');
          $('#item4').css('border-color', 'transparent');
          $('#item4').css('border-radius', '10px');
          $('#item4').css('background', '#FFF');
        }  
      });
    });
  </script>
  <div class="bootstrap">
    <div class="container upsell-container" style="margin-top:50px;">
      <div class="row upsell-row">
        <div class="col-md-2 upsell-product">
          <div class="col-item" id="item1">
            <div class="photo"><img alt="a" class="img-responsive" src="http://placehold.it/350x260"></div>
            <div class="info">
              <div class="row">
                <div class="price col-md-12">
                  <h5>Sample Product really long product name</h5>
                  <h5 class="price-text-color">19.99€</h5>
                </div>
                <div class="rating hidden-sm col-md-12">
                  <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star"></i><i class="fa fa-star"></i>
                </div>
              </div>
              <div class="separator">
                <p id="btn-id1" class="btn-add"><input type="checkbox" id="c1" name="cb" style="display:none"><i class="fa fa-shopping-cart"></i><a class="hidden-sm" href="#">Add to bundle</a></p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div class="col-md-1 nopadding" style="width:15px;">
          <h2><span class="glyphicon glyphicon-plus"></span></h2>
        </div>
        <div class="col-md-2 upsell-product">
          <div class="col-item" id="item2">
            <div class="photo"><img alt="a" class="img-responsive" src="http://placehold.it/350x260"></div>
            <div class="info">
              <div class="row">
                <div class="price col-md-12">
                  <h5>Sample Product really long product name</h5>
                  <h5 class="price-text-color">19.99€</h5>
                </div>
                <div class="rating hidden-sm col-md-12">
                  <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star"></i><i class="fa fa-star"></i>
                </div>
              </div>
              <div class="separator">
                <p id="btn-id2" class="btn-add"><input type="checkbox" id="c2" name="cb" style="display:none"><i class="fa fa-shopping-cart"></i><a class="hidden-sm" href="#">Add to bundle</a></p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div class="col-md-1 nopadding" style="width:15px;">
          <h2><span class="glyphicon glyphicon-plus"></span></h2>
        </div>
        <div class="col-md-2 upsell-product">
          <div class="col-item" id="item3">
            <div class="photo"><img alt="a" class="img-responsive" src="http://placehold.it/350x260"></div>
            <div class="info">
              <div class="row">
                <div class="price col-md-12">
                  <h5>Sample Product really long product name</h5>
                  <h5 class="price-text-color">19.99€</h5>
                </div>
                <div class="rating hidden-sm col-md-12">
                  <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star"></i><i class="fa fa-star"></i>
                </div>
              </div>
              <div class="separator">
                <p id="btn-id3" class="btn-add"><input type="checkbox" id="c3" name="cb" style="display:none"><i class="fa fa-shopping-cart"></i><a class="hidden-sm" href="#">Add to bundle</a></p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div class="col-md-1 nopadding" style="width:15px;">
          <h2><span class="glyphicon glyphicon-plus"></span></h2>
        </div>
        <div class="col-md-2 upsell-product">
          <div class="col-item" id="item4">
            <div class="photo"><img alt="a" class="img-responsive" src="http://placehold.it/350x260"></div>
            <div class="info">
              <div class="row">
                <div class="price col-md-12">
                  <h5>Sample Product really long product name</h5>
                  <h5 class="price-text-color">19.99€</h5>
                </div>
                <div class="rating hidden-sm col-md-12">
                  <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star"></i><i class="fa fa-star"></i>
                </div>
              </div>
              <div class="separator">
                <p id="btn-id4" class="btn-add"><input type="checkbox" id="c4" name="cb" style="display:none"><i class="fa fa-shopping-cart"></i><a class="hidden-sm" href="#">Add to bundle</a></p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <style>
  @import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
  .nopadding 
  {
    padding: 0 !important;
    margin: 0 !important;
  }
  .nopadding h2 
  {    
    height: 50%;
    display: flex;
    align-items: center;
  }
  /*.upsell-container
  {
    resize: initial;
    border: 2px solid;
    width: 500px;
    overflow: auto; 
  }
  .upsell-row
  {
    width: 100%;
    border: 2px solid;
  }*/
  .upsell-product
  {
  
  }
  .col-item
  {
    width: 100%;
    height: 50%;
    margin-top: 15px;
    margin-bottom: 15px;
    min-width: 175px;
    min-height: 270px;    
    max-width: 175px;    
    max-height: 270px; 
    border-radius: 10px;
    background: #FFF;
    -webkit-box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 1);
    border-color: transparent;
  }
  /*.col-item:hover
  { 
    box-shadow: 0px 2px 5px -1px #000;
    -moz-box-shadow: 0px 2px 5px -1px #000;
    -webkit-box-shadow: 0px 2px 5px -1px #000;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 10px;   
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;   
    border-bottom:2px solid #52A1D5;        
  }*/
  .col-item .photo img
  {
    margin: 0 auto;
    width: 100%;
    padding: 1px;
    border-radius: 10px 10px 0 0 ;
  }

  .col-item .info
  {
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
  }

  .col-item .price
  {
    /*width: 50%;*/
    float: left;
    margin-top: 5px;
  }

  .col-item .price h5
  {
    line-height: 20px;
    margin: 0;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .price-text-color
  {
    color: #219FD1;
  }

  .col-item .info .rating
  {
    color: #777;
  }

  .col-item .rating
  {
    /*width: 50%;*/
    float: left;
    font-size: 15px;
    text-align: center;
    line-height: 52px;
    margin-bottom: 1px;
    height: 40px;
  }

  .col-item .separator
  {
    border-top: 1px solid #E1E1E1;
  }

  .clear-left
  {
    clear: left;
  }

  .col-item .separator p
  {
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
  }

  .col-item .separator p i
  {
    margin-right: 5px;
  }
  .col-item .btn-add
  {
    width: 100%;
    float: left;
  }
/*
  .col-item .btn-add
  {
    border-right: 1px solid #E1E1E1;
    
  }
*/
  .col-item .btn-details
  {
    width: 50%;
    float: left;
    padding-left: 10px;
  }
  .controls
  {
    margin-top: 20px;
  }
  [data-slide="prev"]
  {
    margin-right: 10px;
  }

  /*
  Hover the image
  */
  .post-img-content
  {
    height: 196px;
    position: relative;
  }
  .post-img-content img
  {
    position: absolute;
    padding: 1px;
    border-radius: 10px 10px 0 0 ;
  }
  .post-title{
    display: table-cell;
    vertical-align: bottom;
    z-index: 2;
    position: relative;
  }
  .post-title b{
    background-color: rgba(51, 51, 51, 0.58);
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 2px;
    color: #FFF;
    padding: 10px 15px;
    margin-top: 10px;
    font-size: 12px;
  }
  .post-title b:first-child{
    font-size: 14px;
  }
  .round-tag{
    width: 60px;
    height: 60px;
    border-radius: 50% 50% 50% 0;
    border: 4px solid #FFF;
    background: #37A12B;
    position: absolute;
    bottom: 0px;
    padding: 15px 6px;
    font-size: 17px;
    color: #FFF;
    font-weight: bold;
  }
  /*.col-item input:checked {
  -webkit-box-shadow: 0px 0px 2px 2px rgba(255,162,0,1);
  -moz-box-shadow: 0px 0px 2px 2px rgba(255,162,0,1);
  box-shadow: 0px 0px 2px 2px rgba(255,162,0,1);
    border-color:transparent;
  }

  .col-item input:not(:checked) {
  -webkit-box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 1);
    border-color:transparent;
  } */
  </style>
</body>
</html>